apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  namespace: app
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      initContainers:
        - name: wait-for-api-job
          image: bitnami/kubectl:latest
          command:
            - sh
            - -c
            - |
              echo "⏳ Waiting for api-job to complete..."
              while true; do
                status=$(kubectl get job api-job -n app -o jsonpath='{.status.succeeded}')
                if [ "$status" = "1" ]; then
                  echo "✅ api-job completed!"
                  break
                fi
                echo "…still waiting for api-job"
                sleep 3
              done
      containers:
        - name: api
          image: ghcr.io/awwwkshay/node-ts-api-starter
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: api-config
                  key: node_env

            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: api-config
                  key: port

            - name: CLIENT_URLS
              valueFrom:
                configMapKeyRef:
                  name: api-config
                  key: client_urls

            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: database_url

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
