apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: app
  labels:
    app: postgres
spec:
  type: NodePort
  selector:
    app: postgres
  ports:
    - port: 5432 # Cluster internal port
      targetPort: 5432 # Container port
      nodePort: 30007 # External port on your local machine
